{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-4 mx-auto">
            <div class="content-section">
              <div class="alert alert-info">
                Se ha actualizado correctamente su contrase&ntilde;a!!!
            </div>
              <div class="border-top pt-9">
                <small class="text-muted">
                 <a class="nav-link js-scroll-trigger" href="">Crear cuenta</a>
                 <a class="nav-link js-scroll-trigger" href="{% url 'login' %}">Iniciar sesi&oacute;n</a>
                </small>
              </div>
          </div>
         </div>
        </div>
      </div>
    </header>
{% endblock content %}