{% extends "users/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-4 mx-auto">
            <div class="content-section">
              <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Cambiar contrase&ntilde;a</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Cambiar</button>
                </div>
              </form>
              <div class="border-top pt-3">
                               
                  <small class="text-muted">
                       <a class="ml-2" href="">Crear cuenta</a>
                  </small>
              </div>
          </div>
          </div>
        </div>
      </div>
    </header>
    {% endblock content %}

